*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*          
body yani tüm sayfaya 100% yükseklik 100vh genişlik verdim ve arkaplanını pembe yaptım vh demek100px yükselikte olan bir sayfadaki genişliği 10px verir
*/
body{
    width: 100%;
    height: 100vh;
    background-color: rgb(136, 136, 136);
}



/* 
.navbar
yükseklik 100%
genişlik 20%
display flex demek kutuya sığması için boyutları büyütmeye ya da küçültmek için kullanılır
align items center ile flex kapsayıcının içindeki öğeleri   çarpraz eksenine göre ortalı bir şekilde sıralamaya yarar
justify content space between ile ekseninin başlangıç yani start pozisyonuna son hat ise end e göre konumlamada kullandım
paddingini yani kenarlığı ile içeriği arasındaki boşluğunu 40px verdim
*/
.navbar{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
/* .logo
yükseklik 120px
genişlik 100px
display flex demek kutuya sığması için boyutları büyütmeye ya da küçültmek için kullanılır
align items center ile flex kapsayıcının içindeki öğeleri ortalamada kullandım
justify content center ile kutu içerisini ortaladım
*/
.logo{
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.logo img

logo divinin içindeki img fotoğrafın yüksekliği 70% genişliği otomatik ayarlamasını yazdıran kod
*/
.logo img{
    width: 70%;
    height: auto;
}


/* 
.container
container yani inputların kapsayıcısı 
yüksekliği 100%
genişliği 80%
display flex ile boyut küçültme büyültme özelliği aktif
align items center ile flexin içindeki öğeleri ortaladım
justify content center ile kutu içerisini ortaladım

*/
.container{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .box
inputların classı
margin top ile yukarıdan boşluğunu -120px verdim
margin left ile soldan 10px boşluk bıraktım 
padding ile kenarlık ve içeriği arasında ki boşluğu üstten alttan 8 sağdan soldan 30px verdim
top 50% left 50% ile hizalama yaptım 
nesnelerin konumunu değiştirmek için transform translate verdim
padding inline end inputların sağ tarafından 50px boşluk bıraktım
yükseklik 300px
genişlik 300px
border tablo yani 2px olsun solid düz çizgi olsun ve darkblue rengi olsun dedim
border radius ile tablonun kenarlıklarını 35px yumuşattım
display flex verdim ki genişlik verirken margin padding vs. de vermek için
flex direction column ile formun içindeki inputları yazıları ve etiketleri düzenli hale getirdim
gap ile aradaki boşluğu 2px verdim
align items center ile ortalama verdim 
position absolute ile sayfaya göre konumlandırma verdim
border rengini mavi yaptım
*/
.box{
    margin-top: -120px;
    margin-left: 10px;
    padding: 8px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-80%,-0);
    padding-inline-end: 50px;
    width: 300px;
    height: 300px;
    border: 2px solid darkblue;
    border-radius: 35px;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    position: absolute;
    border-color: blue;
}
/* 
h2 başlığına aşşağıdan boşluk bıraktım 10px
top ile yukarıdan 10px bıraktım 
font weight ile yazı tipinin kalınlığını 600 yaptım
*/
.box h2{
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkslateblue;
}
/*  .inputform
inputların classına yükseklik 100% verdim
yukarıdan 30px boşluk bıraktım 
*/
.inputform{
    width: 130%;
    margin-top: 20px;
}
/* .form 
flex direction column ile formun içindeki etiketleri düzenli hale getirdim
gap ile 20px boşluk bıraktım
align items center ile ortalama yaptım
*/
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
/* 
inputform classındaki inputlar
margin right ile sağdan 3px boşluk verdim
bottom ile aşşağıdan 15px boşluk verdim
yüksekliği 80% verdim
genişliği 30px verdim
kenarlıkları 10px yumuşattım
1pxlik tablo kalınlığı düz çizgi rgba renkleri verdim
outline none ile sınırdaki çizgileri yok saydım
padding ile kenarlık ve içeriği üstten alttan 5px sağ soldan 40px boşluk yaptım
border none ile tablo halinden çıkardım
display block yapıp block etiketine aldım
*/
.inputform input{
    margin-right: 3px;
    margin-bottom: 15px;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 5px 40px;
    border: none;
    display: block;
}

/*              BUTON BAŞLANGIÇ                */

/* .btn 
 transition: all ease-in-out 0.5s; demek yavaş başlangıç ve bitiş yapmaya yarıyor
*/
.btn{
    margin-bottom: 25px;
    margin-top: 7px;
    width: 50%;
    height: 30px;
    border-radius: 20px;
    border: 0;
    background-color: red;
    cursor: pointer;
    margin-top: 20px;
    transition: all ease-in-out 0.5s;
}

.btn a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.btn2 a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
/* .btn:hover 
 transform: translateY(-4px); demek giriş yap butonuna basınca aşşağıdan yukarı doğru butonu oynatıyor
*/
.btn:hover{
    background-color: rgb(242, 70, 70);
    transform: translateY(-4px);
}
/* .btn2 
şifrenizi mi unuttunuz butonu
margin top ile yukarıdan 60px boşluk verdim 
yüksekliği 60% verdim
genişliği 32px verdim
kenarlıkları 30px yaptım radius ile
border ı 0 verdim
arka planı fff ile beyaz yaptım
cursor ile tıklama özelliği verdim
margin top ile bidaha boşluk verdim -130px
right ile sağdan 130px boşluk verdim
text decoration none ile altyazıyı kaldırdım 
borderı kapattım none ile
*/
.btn2{
    margin-top: -120px;
    margin-left: -100px;
    width: 60%;
    height: 32px;
    border-radius: 30px;
    border: 0;
    background-color: #fff;
    cursor: pointer;
  
    transition: all ease-in-out 0.5s;
    text-decoration: none;
    border: none;
}

.btn2:hover{
    background-color: deeppink;
    transform: translateY(-4px);
}